<template>
	<view>
	<image v-for="(item,index) in swipers" :key="item.id" :src="item.img"></image>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				swipers: []
			}
		},
		onLoad() {
			this.getSwipers()
		},
		methods: {
			async getSwipers() {
				const res = await this.$request({
					url: '/api/getlunbo'
				})
				console.log('res->', res)
				
				// uni.request({
				// 	url: 'http://localhost:8082/api/getlunbo',
				// 	success: (res) => {
				// 		console.log('res-> ', res)
				// 		if (res.statusCode === 200) {
				// 			this.swipers = res.data.message
				// 			console.log('swipers->', this.swipers)
				// 		} else {
				// 			return uni.showToast({
				// 				title: '获取失败'
				// 			})
				// 		}
				// 	}
				// })
			}
		}
	}
</script>

<style>
	
</style>
