<template>
	<view>
		<!-- <view><text>hello uni-app</text></view>
		<view><text selectable space="ensp">hello  uni-app</text></view>
		<view><text decode>xxxxx&ensp;&amp;&lt;xxx</text></view> -->
		
		<!-- <view class="box2" hover-class="box2-active" :hover-start-time="2000" :hover-stay-time="2000">
			<view class="box" hover-class="box-active" hover-stop-propagation>盒子</view>
		</view>
		<button size="mini">按钮</button>
		<button type="primary">按钮</button>
		<button type="primary" plain>按钮</button>
		<button type="primary" disabled>按钮</button>
		<button loading>按钮</button>
		<image src="../../static/shuijiao.jpg"></image>
		<image src="../../static/shuijiao.jpg" mode="aspectFill"></image>
		<image src="../../static/shuijiao.jpg" mode="aspectFit"></image> -->
		
		<!-- <view>样式学习</view>
		<view class="box1">
			测试文字
			<text>测试scss</text>
		</view>
		<view class="iconfont icondagou"></view>
		<view class="box2">测试全局样式</view> -->
		
		<!-- <text>{{title + 'xx'}}</text>
		<text>{{2+1}}</text>
		<text>{{flag ? '真' : '假'}}</text>
		<image :src="imgUrl"></image>
		<view v-for="(item,index) in arr" :key="item.id">
			序号：{{index + 1}} 名字：{{item.name}} 年龄: {{item.age}}
		</view>
		<button type="primary" @click="clickHandle(20,$event)">按钮</button>
		<view class="box-item" v-for="item in list">{{item}}</view>
		<button @click="pullDown">下拉刷新</button>
		<button @click="get">发送get请求</button> -->
		
		
		<!-- <button @click="upload">upload</button>
		<image v-for="(item,index) in arr2" :key="index" :src="item" @click="previewImg(item)"></image>-->
		
		
		<!-- #ifdef H5 -->
		<view>h5</view>
		<!-- #endif -->
		<!-- #ifdef MP-WEIXIN -->
		<view>小程序</view>
		<!-- #endif -->
		
		<navigator url="/pages/detail/detail?id=80&name=张三">跳转至扩展组件</navigator>
		<navigator url="/pages/tabBar/extUI/extUI" open-type="switchTab">跳转至tabbar</navigator>
		<navigator url="/pages/detail/detail" open-type="redirect">重定向跳转</navigator>
		
		<button @click="godetail">跳转</button>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: "数据绑定",
				flag: true,
				imgUrl: "../../static/shuijiao.jpg",
				list: ['前端','JAVA','UI','测试','大数据','前端','JAVA','UI','测试','大数据'],
				arr: [
					{
						name: '宋小宝',
						age: 20,
						id: 1
					},
					{
						name: '小沈阳',
						age: 30,
						id: 2
					},
					{
						name: '宋大宝',
						age: 18,
						id: 3
					}
				],
			    arr2: []
			}
		},
		onPullDownRefresh() {
			console.log('触发下拉刷新')
			setTimeout(() => {
				this.list = ['UI','测试','大数据', '前端','JAVA']
				uni.stopPullDownRefresh()
			},2000)
		},
		onReachBottom() {
			console.log('页面触底')
			this.list = [...this.list,['UI','测试','大数据', '前端','JAVA']]
		},
		onLoad() {
			// #ifdef H5
			console.log('h5')
			// #endif
			
			// #ifdef MP-WEIXIN
			console.log('小程序')
			// #endif
		},
		onShow() {
		},
		onReady() {
		},
		onHide() {
		},
		onUnload() {
			console.log('页面卸载')
		},
		methods: {
			godetail() {
				// uni.navigateTo({
				// 	url: '/pages/detail/detail'
				// })
				
				// uni.switchTab({
				// 	url: '/pages/tabBar/extUI/extUI'
				// })
				
				uni.redirectTo({
					url: '/pages/detail/detail'
				})
				
				
			},
			previewImg (current) {
				console.log(current)
				uni.previewImage({
					current,
					urls:this.arr2,
					loop:true
				})
			},
			upload() {
				uni.chooseImage({
					count:2,
					success: (res) => {
						console.log(res)
						this.arr2 = res.tempFilePaths
					}
				})
			},
			get() {
				// uni.request({
				// 	url:"https://www.iconfont.cn/api/project/detail.json?pid=2294282&t=1681206530461&ctoken=OAecabm4grNOqyuYi009gCxI",
				// 	success(data) {
				// 		console.log('res ->', data)
				// 	}
				// })
			},
			pullDown() {
				uni.startPullDownRefresh()
			},
			clickHandle(num, e) {
				console.log("num", num)
				console.log("e", e)
			}
		}
		
	}
</script>

<style lang="scss">
	@import url("../uni-style/a.css");
	.box1 {
		width: 375rpx;
		height: 375rpx;
		font-size: 30rpx;
		background: #0000FF;
		color: #ffffff;
		text {
			color: black;
		}
	}
	.box2 {
		color: $global-color;
	}
	.box-item {
		height: 100px;
		line-height: 100px;
	}
	/* #ifdef H5 */
	view {
		color: pink;
	}
	/* #endif */
	
	/* #ifdef MP-WEIXIN */
	view {
		color: paleturquoise;
	}
	/* #endif */
	
/* .box {
	width: 100px;
	height: 100px;
	background: green;
}
.box-active {
	background: red;
}
.box2 {
	width: 200px;
	height: 200px;
	background: blue;
}
.box2-active {
	background: pink;
} */
</style>
