<template>
	<view>
		详情页
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		onLoad(options) {
			console.log(options)
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
