<template>
	<view>
		<button @click="updateNum">修改b数据</button>
	</view>
</template>

<script>
	export default {
		name:"a",
		data() {
			return {
				
			};
		},
		methods: {
			updateNum() {
				uni.$emit('updateNum', 10)
			}
		}
	}
</script>

<style>

</style>