<template>
	<view>
		num: {{num}}
	</view>
</template>

<script>
	export default {
		name:"b",
		data() {
			return {
				num: 0
			};
		},
		created() {
			uni.$on("updateNum", num => {
				this.num += num
			})
		}
	}
</script>

<style>

</style>