<template>
	<view>
		<test></test>
		<test-a></test-a>
		<test-b></test-b>
		
		<uni-calendar 
		:insert="true"
		:lunar="true" 
		:start-date="'2019-3-2'"
		:end-date="'2019-5-20'"
		@change="changex"
		 >
		 </uni-calendar>
		 
		 
	</view>
</template>

<script>
	import test from '../../components/test.vue'
	import testA from '../../components/a.vue'
	import testB from '../../components/b.vue'
	import uniCalendar from '@/uni_modules/uni-calendar/components/uni-calendar/uni-calendar.vue'
	
	export default {
		data() {
			return {
				
			}
		},
		components: {
			"test": test,
			"test-a": testA,
			"test-b": testB,
			"uni-calendar": uniCalendar
		},
		methods: {
			changex(e) {
				console.log(e)
			}
		}
	}
</script>

<style>

</style>
